/* 

-- COLORS : 

-Primary : 
#023076

-Greys : 
#f9fafe







--BORDER-RADIUS: 

-Small : 5px

-Medium : 11px


*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1;
    font-weight: 500;
    color: #222;
}

/*************************************************/
/* GENERAL REUSABLE COMPONENTS */
/*************************************************/

.container {
    /* 816px */
    max-width: 81.6rem;
    margin: 0 auto;
    padding: 3.2rem;
}
