/* 

-- FONT SIZES 

8 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 32 / 40 / 44 / 52 / 64 / 72 / 86 / 98


-- COLORS

- Primary : 
#09327b
#ff4f48

- Tints

#224788
#7c8288
#e5eff9
#e8f1fa

- Shades

#70757a
#63686d

- Greys

#0d0d16
#f6fafd
#f9fafe
#444c55
#777
#888


-- LINE HEIGHTS 

- Medium : 1.3, 1.5

-- LETTER SPACING 

- Small : 0.25px


-- BORDER RADIUS 

- Small : 5px

- Medium : 7px, 9px

- Large : 11px


-- SPACING SYSTEM 

2.5 / 5 / 7.5 / 11.5 / 15 / 18.5 / 24 / 30 / 32 / 40 / 44 / 64 / 72 / 86 / 98 / 108

*/


*,
*::after, 
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #222;
}

/***********************************************************************/
/* REUSABLE COMPONENTS */
/***********************************************************************/

.grid {
    display: grid;
    place-items: center;
}

/* .container {
    max-width: 68rem;
    margin: 0 auto;
} */

.grid--gap {
    row-gap: 1rem;
}

.add-grey-background {
    background-color: #f6fafd !important;
}